name: CI

on: 
  pull_request:
    branches:
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Discord Notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
          DISCORD_AVATAR: https://octodex.github.com/images/ironcat.jpg
          DISCORD_USERNAME: FRONT-END.BOT
        uses: Ilshidur/action-discord@master
        with: 
          args: '>>> A new pull request was made by {{GITHUB_ACTOR}}'